#logoContainer {
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

#logoContainer > img {
    width: 100%;
}

#buttons {
    display: flex;
    /* min-width: min-content; */
    flex-direction: column;
    gap: 10px;
}

.buttonLink {
    text-decoration: none;
}

.button {
    height: 64px;
    background-color: var(--dark-teal);

    /* min-width: min-content; */
    display: flex;
    flex-direction: row;
}

.button.selected {
    background-color: var(--darker-teal);
}

.button > .icon {
    width: 43%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button > .icon > * {
    color: white;
    width: 64px;
    height: 64px;
}

.button > .text {
    width: 77%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 1.5em;
}
