/* Container to ensure footer is always at the bottom of the page */
#root {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}


#contentRoot {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 64px);
}

#navigation {
    flex: 0 0 auto;
    width: 14%;
    min-width: 200px;
    background-color: var(--teal);
}

#content {
    flex: 1;
    padding: 20px;
}