/* Container to ensure footer is always at the bottom of the page */
#root {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

/* Another container to ensure that the actual content takes up as much space as it can rather than stopping midway if there isn't enough content to fill the screen */
#contentRoot { 
    flex-grow: 1;
    display: flex;
    background-color: var(--grey);
}

#navigation {
    width: 16%;
    min-width: 200px;
    height: 100%;
    background-color: var(--teal);
    position: fixed;
}

/* The container for the content */
#content {
    width: calc(100% - 16%);
    margin-left: 16%;   /* Leave room for the navigation bar */
}