.networkPageContainer {
    width: 100%;
}

#NetworkExploreHeader {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.mainHeader {
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.subHeader {
    font-size: 24px;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 30px;
}