.formGroup {
    padding: 0.5rem 0;
}

.formLabel {
    font-weight: bold;
}

.imgUploadContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imgPreviewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid white;
    border-radius: 0.25rem;
    cursor: pointer;
}

.imgUploadContainer .imgPreviewContainer img {
    max-width: 350px;
    max-height: 350px;
    object-fit: contain;
}