.selectToolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.submitButton {
    margin: 1rem 0;
    background-color: var(--dark-teal);
    border: 3px solid var(--dark-teal);
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.submitButton:hover {
    background-color: var(--teal);
    border-color: var(--teal);
}

.deleteButton {
    margin: 1rem 0;
    background-color: rgb(179, 4, 4);
    border: 3px solid rgb(149, 0, 0);
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: rgb(194, 0, 0);
    border: 3px solid rgb(241, 34, 34);
}