.selectToolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.submitButton {
    margin: 1rem 0;
    background-color: var(--dark-teal);
    border-color: var(--dark-teal);
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.submitButton:hover {
    background-color: var(--teal);
    border-color: var(--teal);
}
