.formGroup {
    padding: 0.5rem 0;
}

.selectToolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.radioSelectOption {
    font-weight: bold;
    border-radius: 0.25rem;
}

.formLabel {
    font-weight: bold;
}

.formControl {
    border: 0.125rem solid var(--light-teal);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.formControl:focus {
    border-color: var(--teal);
    box-shadow: none;
}

.submitButton {
    margin: 1rem 0;
    background-color: var(--dark-teal);
    border-color: var(--dark-teal);
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

.submitButton:hover {
    background-color: var(--teal);
    border-color: var(--teal);
}
