#container {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}

#avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#avatarContainer #avatar {
  height: 168px;
  width: 168px;
  border: 3px solid var(--dark-teal);
  box-shadow: 0px 2px 0px var(--darker-teal);
  padding: 1rem;
  margin-bottom: 2rem;
}

#avatarContainer #avatar:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.saveChangesButton {
  width: 100%;
  margin: 2.5rem 0;
  background-color: var(--dark-teal) !important;
  border-color: var(--dark-teal) !important;
  color: white !important;
  padding: 0.5rem;
}

.saveChangesButton:hover, .saveChangesButton:focus {
  background-color: var(--darker-teal) !important;
  border-color: var(--darker-teal) !important;
}

#uploadModalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

#uploadModalBody * {
  margin-left: auto;
  margin-right: auto;
}

#uploadImageUrlInput {
  width: 50%;
  border-radius: 5px;
  text-align: center;
}