/* Globals */
:root {
    --dark-grey: #1E1E1E;
    --grey: #2C3333;
    --dark-teal: #2E4F4F;
    --teal: #0E8388;
    --light-teal: #CBE4DE;
    --yellow: #F6DD39;
}

/* App.tsx */
.App .site_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* LoginPage */
.LoginPageContainer {
    display: flex;
    flex-grow: 1;
    /* min-height: 100vh;  # this causes footer to be pushed below screen*/
    background-color: var(--grey);
    color: white;
}

.imageColumn {
    width: 35%;
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.imageColorColumn {
    width: 5%;
    background-color: var(--dark-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loginColumn {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageColumn img {
    max-width: 200%;
    height: auto;
}

.loginTitle {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 90px;
    text-align: center;
    color: var(--yellow);
    margin-bottom: 20px;
}

.loginFormContainer {
    min-width: 300px;
    width: 40%;
    max-width: 500px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginFormContainer .form-group {
    margin-bottom: 15px;
}

.loginFormContainer .form-label {
    font-weight: bold;
    color: var(--dark-grey);
}

.loginFormContainer .form-control {
    border: 2px solid var(--light-teal);
    border-radius: 5px;
    padding: 10px 15px;
}

.loginFormContainer .form-control:focus {
    border-color: var(--teal);
    box-shadow: none;
}

.loginFormContainer .btn-primary {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--teal);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.loginFormContainer .btn-primary:hover {
    background-color: var(--dark-teal);
}


/* Footer */
.footer {
    padding: 20px 0;
    background-color: var(--dark-grey);
    color: white;
    text-align: center;
    margin-top: auto;
}

.footerContainer {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px; /* Adjust as needed */
}
