/* Globals */
:root {
    --dark-grey: #1E1E1E;
    --grey: #2C3333;
    --dark-teal: #2E4F4F;
    --teal: #0E8388;
    --light-teal: #CBE4DE;
    --yellow: #F6DD39;
}

/* LoginPage */
.LoginPageContainer {
    display: flex;
    min-height: 100vh;
    background-color: var(--grey);
    color: white;
}

.imageColumn {
    width: 35%;
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.imageColorColumn {
    width: 5%;
    background-color: var(--dark-teal);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loginColumn {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageColumn img {
    max-width: 200%;
    height: auto;
}