#container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  height: 20%;
  background-color: var(--teal);
  border: 5px solid var(--dark-teal);
}

#header > #avatarContainer {
  height: 100%;
  aspect-ratio: 1.2 / 1;

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header > #avatarContainer > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 10px solid var(--dark-teal);
  box-shadow: 0px 2px 0px var(--darker-teal);
}

#header > #identityContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

#header > #identityContainer > #username {
  font-size: 3em;
  color: #fff;

  margin: 0;
  padding: 0;
}

#header > #identityContainer > #bio {
  color: #D3D3D3;
  font-size: 1em;

  margin: 0;
  padding: 0;

  margin-left: 0.5em;
}

#feed {
  background-color: var(--light-teal);
  flex-grow: 1;
  width: 100%;
  margin-top: 10px;
}